<div class="page-title-actions">
    <div class="d-inline-block dropdown">
        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
            <span class="btn-icon-wrapper pr-2 opacity-7">
                <i class="fa fa-business-time fa-w-20"></i>
            </span>
            Actions
        </button>
        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right" x-placement="top-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-131px, -98px, 0px);">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a id="btnReviseJih" class="nav-link">
                        <i class="nav-link-icon lnr-book"></i>
                        <span>
                            Revise
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="btnWonJih" class="nav-link">
                        <i class="nav-link-icon lnr-book"></i>
                        <span>
                            Won
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="btnLostJih" class="nav-link">
                        <i class="nav-link-icon lnr-book"></i>
                        <span>
                            Lost
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="btnDeleteJih" class="nav-link">
                        <i class="nav-link-icon lnr-picture"></i>
                        <span>
                            Delete
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="btnSetReminder" class="nav-link">
                        <i class="nav-link-icon lnr-picture"></i>
                        <span>
                            Set a reminder
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
   
</script>