
<div class="app-header-right">
    <ul class="header-megamenu nav">
        <li class="nav-item">

            <a href="#" id="mnuDashboard1" onclick="loadDashboard()" class="nav-link">
                <i class="nav-link-icon pe-7s-home"> </i>
                <span>
                    Home
                </span>
            </a>
        </li>

        <li class="nav-item">


            <a data-placement="bottom" rel="popover-focus" data-offset="300" data-toggle="popover-custom" class="nav-link" data-original-title="" title="">
                <i class="nav-link-icon pe-7s-gift"> </i>
                Selections
                <i class="fa fa-angle-down ml-2 opacity-5"></i>
            </a>

            <div class="rm-max-width">
                <div class="d-none popover-custom-content">
                    <div class="dropdown-mega-menu">
                        <div class="grid-menu grid-menu-3col">
                            <div class="no-gutters row">
                                <div class="col-sm-6 col-xl-4">
                                    <ul class="nav flex-column">
                                        <li class="nav-item-header nav-item">
                                            Internal Sales
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" id="mnuQuoteManager1" onclick="loadQuoteList()" class="nav-link">
                                                <i class="nav-link-icon lnr-inbox">
                                                </i>
                                                <span>
                                                    Quote
                                                </span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" id="mnuNewQuote" onclick="loadNewQuote()" class="nav-link">
                                                <i class="nav-link-icon lnr-inbox">
                                                </i>
                                                Quote
                                                <div class="ml-auto badge badge-success">New</div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="javascript:void(0);" class="nav-link">
                                                <i class="nav-link-icon lnr-book">
                                                </i>
                                                @*<span>
                                                        Incidents
                                                    </span>
                                                    <div class="ml-auto badge badge-pill badge-danger">
                                                        5
                                                    </div>*@
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="javascript:void(0);" class="nav-link">
                                                <i class="nav-link-icon lnr-picture">
                                                </i>
                                                @*<span>
                                                        Companies
                                                    </span>*@
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a disabled="" href="javascript:void(0);" class="nav-link disabled">
                                                <i class="nav-link-icon lnr-file-empty">
                                                </i>
                                                @*<span>
                                                        Dashboards
                                                    </span>*@
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 col-xl-4">
                                    <ul class="nav flex-column">
                                        <li class="nav-item-header nav-item">
                                            External
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" id="mnuProjectMaster1" onclick="loadProjects()" class="nav-link">
                                                <i class="nav-link-icon lnr-inbox">
                                                </i>
                                                <span>
                                                    Projects
                                                </span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" id="mnuNewProject1" onclick="loadNewProject()" class="nav-link">
                                                <i class="nav-link-icon lnr-book">
                                                </i>
                                                Projects
                                                <div class="ml-auto badge badge-success">New</div>
                                            </a>
                                        </li>
                                        <!--<li class="nav-item">
                                        <a href="#" id="mnuNewQuote1" onclick="loadQuoteManager()" class="nav-link">
                                            <i class="nav-link-icon lnr-picture">
                                            </i>
                                            Quote old-->
                                        @*<div class="ml-auto badge badge-success">New</div>*@
                                        <!--</a>
                                        </li>-->
                                    </ul>
                                </div>
                                <div class="col-sm-6 col-xl-4">
                                    <ul class="nav flex-column">
                                        <li class="nav-item-header nav-item">
                                            Settings
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" id="mnuAUEUMSRegister1" onclick="loadAUEUMSRegister()" class="nav-link">
                                                Users
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" id="mnuCurrencyAll1" onclick="loadCurrencyAll()" class="nav-link">
                                                Currency All
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" id="mnuCVValuesAll1" onclick="loadCVValuesAll()" class="nav-link">
                                                CVValues All
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" id="mnuProductAll1" onclick="loadProductAll()" class="nav-link">
                                                Product All
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </li>

    </ul>
</div>

