@model AUEUMS.View_Models.DashboardView
@{
    @Html.Hidden("GetReportByProject", Url.Action("GetReportByProject", "Admin"))
    @Html.Hidden("GetReportAUEUMSActiveUsers", Url.Action("GetReportAUEUMSActiveUsers", "Admin"))
    @Html.Hidden("ProjectList", Url.Action("Project", "Admin"))
    @Html.AntiForgeryToken()
}
<script src="~/scripts/chart.funnel.bundled.min.js"></script>
<script src="~/scripts/Chart.min.js"></script>
<script src="~/scripts/utils.js"></script>
<div class="app-main__inner">
    <div class="app-page-title">

    </div>
    @{ 
        var usrRoles = User.Claims.FirstOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.Role).Value;
    }
    @if (usrRoles == "Administrator" || usrRoles == "SalesEngineer")
    {
        <div class="row">
            <div class="col-md-6">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        Recently Active Users
                        <div class="btn-actions-pane-right">
                            <div role="group" class="btn-group-sm btn-group">
                                <button class="active btn btn-focus btn-gradient-focus " id="Usrlast5">Last 5</button>
                                <button class="btn btn-focus btn-gradient-focus" id="Usrlast20">Last 20</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            @if (usrRoles == "Administrator" || usrRoles == "SalesEngineer")
                            {
                                <div id="ContainerActiveUsers"></div>
                            }
                            else
                            {
                                <div></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        Recent Projects
                        <div class="btn-actions-pane-right">
                            <div role="group" class="btn-group-sm btn-group">
                                <button class="active btn btn-focus mr-1" id="ProjectNew">New</button>
                                <button class="btn btn-focus mr-1" id="Projectslast5">Last 5</button>
                                <button class="active btn btn-focus mr-1" id="Projectslast20">Last 20</button>
                                <button class="active btn btn-focus" id="Projectsshowall">Show All Projects</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div id="ContainerByProject"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <input type="hidden" value = "intUser" id="userType">
    }
    else
    {
        <div class="row">

            <div class="col-lg-12 col-xl-12">

                <div class="app-main__inner p-0">
                    <div class="app-inner-layout chat-layout">

                        <div class="card-header">
                            Recent Projects
                            <div class="btn-actions-pane-right">
                                <div role="group" class="btn-group-sm btn-group">
                                    <button class="active btn btn-focus btn-gradient-focus mr-1" id="ProjectExtnlNew">New</button>
                                    <button class="active btn btn-focus btn-gradient-focus" id="ProjectsExtnllast5">Last 5</button>
                                    <button class="btn btn-focus btn-gradient-focus mr-1" id="ProjectsExtnllast20">Last 20</button>
                                    <button class="active btn btn-focus btn-gradient-focus" id="ProjectsExtnlshowall">Show All Projects</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <div id="ContainerExtnlByProject"></div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>


        </div>
        <input type="hidden" value = "extUser" id="userType">
    }



</div>
<script>
    $(document).ready(function () {
        $("#ContainerActiveUsers").load($("#GetReportAUEUMSActiveUsers").val() + "?usrId=-1&number=5");
        $("#ContainerByProject").load($("#GetReportByProject").val() + "?ProjectId=-1&number=5");
        if($("#userType").val()  == "extUser")
        {
            $("#ContainerExtnlByProject").load($("#GetReportByProject").val() + "?ProjectId=-1&number=-1");
        }
        
        $.ajaxSetup({
            beforeSend: function (xhr) {
                xhr.setRequestHeader("RequestVerificationToken",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
        });

        $('.Numberformat').number(true, 2);
        $('.wholeNumberformat').number(true, 0);

        //$('#ProjectID').on('change', function () {
        //    $("#ContainerByProject").load($("#GetReportByProject").val() + "?ProjectId=" + $("#ProjectID").val() + "&companyCode=-1");
        //});

        //$('#CompanyCode').on('change', function () {
        //    $("#ContainerByCompany").load($("#GetReportByProject").val() + "?ProjectId=-1&companyCode=" + $("#CompanyCode").val());
        //});

        $('#Projectslast5').on('click', function () {
            $("#ContainerByProject").load($("#GetReportByProject").val() + "?ProjectId=-1&number=5");
        });
        $('#Projectslast20').on('click', function () {
            $("#ContainerByProject").load($("#GetReportByProject").val() + "?ProjectId=-1&number=20");
        });

        //External

        $('#ProjectsExtnllast5').on('click', function () {
            $("#ContainerExtnlByProject").load($("#GetReportByProject").val() + "?ProjectId=-1&number=5");
        });
        $('#ProjectsExtnllast20').on('click', function () {
            $("#ContainerExtnlByProject").load($("#GetReportByProject").val() + "?ProjectId=-1&number=20");
        });



        $('#Projectsshowall').on('click', function () {
            $("#myPartialViewContainer").load($("#ProjectList").val() + "?mode=detail&ctrlid=ProjectId&src=project");
            $("#displayquick").load($("#DefaultQuick").val());
            $('#RightSlidingWindow').attr('class', 'ui-theme-settings');

        });

        $('#ProjectNew').on('click', function () {
            $("#myPartialViewContainer").load($("#NewProject").val() + "?mode=detail&ctrlid=ProjectId&src=project");
            $("#displayquick").load($("#DefaultQuick").val());
            $('#RightSlidingWindow').attr('class', 'ui-theme-settings');

        });
        //External

        $('#ProjectExtnlNew').on('click', function () {
            $("#myPartialViewContainer").load($("#NewProject").val() + "?mode=detail&ctrlid=ProjectId&src=project");
            $("#displayquick").load($("#DefaultQuick").val());
            $('#RightSlidingWindow').attr('class', 'ui-theme-settings');

        });
        $('#ProjectsExtnlshowall').on('click', function () {
            $("#myPartialViewContainer").load($("#ProjectList").val() + "?mode=detail&ctrlid=ProjectId&src=project");
            $("#displayquick").load($("#DefaultQuick").val());
            $('#RightSlidingWindow').attr('class', 'ui-theme-settings');

        });

        

        $('#Usrlast5').on('click', function () {
            $("#ContainerActiveUsers").load($("#GetReportAUEUMSActiveUsers").val() + "?usrId=-1&number=5");
        });
        $('#Usrlast20').on('click', function () {
            $("#ContainerActiveUsers").load($("#GetReportAUEUMSActiveUsers").val() + "?usrId=-1&number=20");
        });
    });

</script>

